*,
*::after,
*::before,
body,
body::after,
body::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app__bg__header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/3761662/pexels-photo-3761662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.app__bg__hheader {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/1327344/pexels-photo-1327344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 70vh;
  .search-header {
    font-size: 600%;
    font-family: emoji;
    color: #ffff43;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.search-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  input {
    margin-right: 1rem;
    padding: 1rem 5px;
    color: rgb(118, 118, 1);
    width: 19rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.986);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border: 1px solid yellow;
    }
  }
  label {
    box-shadow: rgba(239, 255, 17, 0.2) 0px 2px 8px 0px;
    background: rgb(255, 176, 28);
    padding: 1rem;
    border: 1px solid wheat;
    border-radius: 9px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: transparent;
      box-shadow: rgba(254, 241, 65, 0.25) 0px 6px 12px -2px,
        rgba(220, 255, 45, 0.3) 0px 3px 7px -3px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .search-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .search-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input,
    label {
      width: 100% !important;
    }
    input {
      margin-right: 0 !important;
    }
  }
}
